{% extends 'home.html' %}

{% block content2 %}

<datalist class='col-md-6' id="repuestos">
  	{% for p in productos %}
    	<option value="{{p.nombre}}:{{p.descripcion1}}:{{p.descripcion2}}:{{p.descripcion3}}">{{p.nombre}}:{{p.descripcion1}}:{{p.descripcion2}}:{{p.descripcion3}}</option>
    {% empty %}
    	<option value="0">No hay productos</option>
	{% endfor %}
</datalist>

<main class="container" role='main'>

  <h2>Ingreso de {{ objeto }}</h2>

  <form method="POST" enctype="multipart/form-data">
  	<div id="formulario">
    	{% csrf_token %}
    	{{ form.as_p }}
    </div>
    <button class="btn btn-success" type="submit">Guardar</button>
    <a class="btn btn-primary" style="color: white;" onClick="javascript:history.go(-1);">Cancelar</a>

  </form>

</main>

{% endblock content2 %}
