#search {
	text-align: right;
	margin-right: 76px;
	margin-bottom: 28px;
}

#inputEmail{
	width: 20%;
}
#consultar, #atras {
	width: 15%;
}

#botonesConsulta{
	text-align: center;
}


.buttonUPD {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.buttonUPD:hover {background-color: #3e8e41}

.buttonUPD:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.buttonDEL {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #f44336;;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.buttonDEL:hover {background-color: #ca2a1e}

.buttonDEL:active {
  background-color: #ca2a1e;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.btn_opcion{
	width: 16%;
}
@media only screen and (max-width: 768px;){
	.btn_opcion{
		width: 20%;
	}	
}